.search__box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;

    > input{
        width: 100%;
        border: none;
        outline: none;
        padding: 8px 10px;
    }
    >span{
        color:var(--primary-color);
    }

}
.search__btn{
    margin:0 10px;
}